<!-- 导航栏开始 -->
<div class="ui inverted menu navbar">
</div>
<!-- 导航栏结束 -->

<!-- 主体内容开始 -->
<div class="mainpage">
  <div id = "indexpage" data-load="true" class="main-tab">
  </div>
  {{#each menu}}
    <div class="{{name}}-tab hidden main-tab" data-load="false">
    </div>
  {{/each}}
</div>
<!-- 主体内容结束 -->

<!-- 页面底部开始 -->
<div class="ui vertical footer segment">
</div>
<!-- 页面底部结束 -->
